$color-main: #F1CDB3;
$color-background: #F6F6F6;
$color-secondary_color: #F1CDB3;
$color-heading: #FFFFFF;
$color-text: #CDCDCD;
$color-heading_two: #545454;
$color-text_two: #4C4C4C;
$color-border: #F1CDB3;
$color-text: #FAFAFA;
$color-text-p:#cdcdcd;
$color-hover:#FDDCC4;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;

